:root {
    /* Orange colors */
    --orange-120: #E87928;
    --orange-100: #FF8B37;
    --orange-80: #FFAC70;
    --orange-5: #FFF3EB;

    /* Black colors */
    --black-100: #1C1C21;
    --black-40: #D0D0D8;
    --black-5: #F5F5F7;

    /* Green colors */
    --green-100: #47D867;
    --green-5: #E6FAEA;

    /* Red colors */
    --red-100: #EC6259;
    --red-5: #FDEEED;

    /* White colors */
    --white-100: #FFFFFF;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-100);
    color: var(--black-100);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restart-button {
    background-color: var(--orange-100);
    color: var(--white-100);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 296px;
    height: 64px;
}

.restart-button:hover {
    background-color: var(--orange-80);
}

.restart-button:active {
    background-color: var(--orange-120);
}

.game-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 376px;
    position: relative;
}

.question-section {
    width: 100%;
    padding: 6rem 4rem;
    background-color: var(--black-5);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question-section.hidden {
    opacity: 0;
    pointer-events: none;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    color: var(--black-100);
    font-size: 1.5rem;
    cursor: pointer;
}

.progress-section {
    background-color: var(--white-100);
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

.close-button {
    display: none;
    background: none;
    border: none;
    color: var(--black-100);
    font-size: 1.5rem;
    cursor: pointer;
}

.progress-ladder {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    gap: 0.5rem;
    align-items: center;
}

.progress-level-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    place-items: center;
    width: 100%;
}

.progress-level {
    position: relative;
    width: 100%;
    max-width: 240px;
    height: 40px;
    z-index: 1;

    svg {
        z-index: 1;
        width: 100%;
        height: 100%;
        stroke: var(--black-40);
        fill: var(--white-100);
    }
}

.progress-level-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.dash.current {
    background-color: var(--orange-100);
}

.progress-level.current {
    svg {
        stroke: var(--orange-100);
    }
}

.progress-level.passed {
    color: var(--black-40);
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    column-gap: 0;
}

.decorator-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 72px;

    & > h2, h3 {
        width: 100%;
    }
}

.image-wrapper {
    height: auto;
    position: relative;
    aspect-ratio: 624 / 366;
    width: calc(50vw - 52px);

    & > div {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.decorator-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(50vw - 52px);
    height: 100%;
}

.text-wrapper {
    margin-top: 4rem;

    & > h4 {
        color: var(--black-40);
    }
}

.answer-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 422px;
    height: 100%;
    max-height: 72px;
    z-index: 2;

    svg {
        z-index: 1;
        width: 100%;
        height: 100%;
        stroke: var(--black-40);
        fill: var(--white-100);
    }

}

.answer-button-content {
    position: absolute;
    z-index: 4;
    width: 100%;
    display: flex;
    gap: 0.6rem;
    padding-left: 3rem;
    font-size: 1rem;

    & > p:first-child {
        color: var(--orange-100);
    }
}

.dash {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--black-40);
    border: none;
    z-index: 0;
}


.answer-button:hover:not(:disabled, .correct, .incorrect, .selected) {


    svg {
        stroke: var(--orange-80);
    }
}


.answer-button.selected {
    svg {
        stroke: var(--orange-120);
        fill: var(--orange-5);
    }
}


.answer-button.correct {
    svg {
        stroke: var(--green-100);
        fill: var(--green-5);
    }
}


.answer-button.incorrect {
    svg {
        stroke: var(--red-100);
        fill: var(--red-5);
    }
}

.answer-button:hover:not(:disabled, .correct, .incorrect, .selected) + .dash {
    background-color: var(--orange-80);
}

.dash.selected {
    background-color: var(--orange-120);
}

.dash.correct {
    background-color: var(--green-100);
}

.dash.incorrect {
    background-color: var(--red-100);
}

.answer-button-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-button:disabled {
    cursor: not-allowed;
}

@media (min-width: 769px) {
    .question-section.hidden {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 998px) {
    .answers {
        grid-template-columns: 1fr;
    }

    .question-section {
        padding: 6rem 2rem;
    }
}

@media (max-width: 768px) {
    .question-section {
        padding: 0;
    }

    .question-header {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;

        h2 {
            text-align: center;
        }

    }

    .answers {
        margin-bottom: 2rem;
    }

    .answer-button {
        max-width: 320px;
        height: 56px;
    }

    .answer-button-content {
        padding-left: 2.5rem;
        font-size: 0.8rem;
        gap: 0.5rem;

    }

    .progress-level {
        height: 32px;
    }

    .decorator-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 0;
        margin: 0;
    }

    .image-wrapper {
        width: calc(100vw - 52px);
        height: 50%;
        position: relative;
        aspect-ratio: 288 / 192;
    }

    .decorator-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        align-items: center;
        padding: 0 16px;

    }

    .text-wrapper {
        margin: 0;

        & > h1, h4 {
            text-align: center;
        }
    }

    .restart-button {
        width: 100%;
        height: 48px;
        font-size: 1rem;
        margin-bottom: 48px;
        border-radius: 10px;
    }

    .game-container {
        grid-template-columns: 1fr;
    }

    .menu-button {
        display: block;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .close-button {
        display: block;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .progress-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
        flex-direction: column;
        justify-content: center;
        background-color: var(--black-5);
    }

    .progress-section.visible {
        opacity: 1;
        pointer-events: auto;
    }

    .answer-button {
        max-height: 56px;
    }

    .progress-level-content {
        width: 100%;
        font-size: 0.8rem;
    }

}

@media (pointer: coarse) {
    .restart-button:hover {
        background-color: var(--orange-100);
    }

    .answer-button:hover:not(:disabled, .correct, .incorrect, .selected) {
        svg {
            stroke: var(--black-40);
        }
    }

    .answer-button:hover:not(:disabled, .correct, .incorrect, .selected) + .dash {
        background-color: var(--black-40);
    }
}