.page {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.page::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--orange-5);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

